<!-- 3 Tages Prognose Alpenraum -->
<div class="row">
    <div class="col col-sm">
      <img src="img/Wpreview36h.png" alt="" />
    </div>
    <div class="col col-sm">
      <h2>3-Tages Prognose Alpenraum</h2>
      <p>Text to go</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm">
      <img src="img/Wpreview60h.png" alt="" />
    </div>
    <div class="col col-sm">
      <p>Text to go</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm">
      <img src="img/Wpreview84h.png" alt="" />
    </div>
    <div class="col col-sm">
      <p>Text to go</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm">
      <img src="img/Wpreview108h.png" alt="" />
    </div>
    <div class="col col-sm">
      <p>Text to go</p>
    </div>
  </div>