<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><svg
        class="fill-current h-8 w-8 mr-2"
        width="33"
        height="33"
        viewBox="0 0 54 54"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45
          3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8
          0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8
          13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8
          7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45
          4.05z" />
      </svg>
        Flightweather</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forecast">Forecast</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/webcams">Webcams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Radar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="http://www.on-res.com/index.php?org=FSB" target="_blank">FSB Reservation</a>
            <a class="dropdown-item" href="http://www.on-res.com/index.php?org=KITF" target="_blank">KITF Reservation</a>
            <a class="dropdown-item" href="https://www.skybriefing.com/portal/de/" target="_blank">Skybriefing</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>